<div class="main-container">
    <div class="categorie-container">
        <div class="categoria">
            <p>Categoria 1</p>
        </div>

        <div class="categoria">
            <p>Categoria 2</p>
        </div>

        <div class="categoria">
            <p>Categoria 1</p>
        </div>

        <div class="categoria">
            <p>Categoria 2</p>
        </div>

        <div class="categoria">
            <p>Categoria 1</p>
        </div>

        <div class="categoria">
            <p>Categoria 2</p>
        </div>

        <div class="categoria">
            <p>Categoria 1</p>
        </div>

        <div class="categoria">
            <p>Categoria 2</p>
        </div>
    </div>


    <div class="prodotti-container">
        <div class="prodotto" *ngFor="let elemento of listaProdotti">
            <img src="../../favicon.ico">
            <p>{{elemento.nome}}</p>
        </div>
    </div>
</div>